.spell-list {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .spell-filter-container {
        margin-bottom: 20px;
    }

}

.spinner-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}