.spell-favourite-button {
    color: #c62828;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #6d4c41, $alpha: 0.2);
    }
}